.container-voorpagina {
    background: linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
    ), url(../images/office-1.jpg) no-repeat center 0px;
    background-size: cover;
    height: 650px;
    width: 100%;
    margin-top: 10px;

}

#footer {
    padding: 10px;
    border-top: 1px solid black;
    color: #eeeeee;
    background-color: #211f22;
    text-align: center;
    display: block;
}

#VoorpaginaText {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 40%;
    top: 35%;
}

#buttonTop {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 10%;
    top: 95%;
    background-color: #f75a00;
    border: none;
}

#buttonTop:hover {
    background-color: white;
    color: grey;
}

#buttonLogin {

    color: white;
    font-size: 1.3em;
    font-weight: 550;
    background-color: #f75a00;
    border: none;
}




* {
    padding: 0px;
    margin: 0px;
}



nav.navbar {
    padding: 0px;
    margin: 0px;
    border: none;
    height: 150px;
}

.navbar-nav a.nav-item  {

    color:black;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    padding-top: 22px;
    padding-bottom: 22px;
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    display: inline-block;
    white-space: nowrap;
}

.background {
    background-color: #f6f7f9;

}

nav.navbar #left-bar{

    min-width: 40%;
}
a.navbar-brand {
    margin-left: 20%;
}
.container {

}

img.middleRowImage {
    height: 200px;
    width: 100%;
}

#footer {
    margin-top:296px;
    border: none;
}

.buttonMiddle {
    background-color: #f75a00;
    border: none;

}

.middleTitel {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;

}

.bottomImage {
    z-index: -100;
    height: 300px;
    width: 100%;
    position: absolute;
    border: none;
    margin-top: 70px;
}

.bottomDiv {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bottomImage.jpg");
    background-repeat: no-repeat;


    /*background-image: url("../images/bottomImage.jpg");*/
    /*background-image: url("../images/bottomImage.jpg");*/
    /*background-image: url("../images/bottomImage.jpg"), linear-gradient(#eb01a5, #d13531);*/
    /*background: rgba(0, 0, 0, 0.25);*/
    /*background: linear-gradient(grey,grey);*/
    min-height: 400px;
    height: 100%;
    width: 100%;
    background-size: 100% auto;




}

.columsBottom {
    z-index: 100;
    margin-top: 0px;
}

.container-bottom {
    height: 650px;
    width: 100%;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.vragenSchema > h5 {
    height: 73px;
    line-height: 73px;
    width: 100%;
    text-align: center;
    background: #5cb85c;
    border-radius: 5px;
    color: white;
    margin:0;


}

.vragenSchema {
    border: 1px solid grey;
    border-radius: 3px;
}
.vragenSchema > dl {
margin:0;
}
.vragenSchema > dl > dt > span {
    display:inline-block;
    height: 40px;
    line-height: 40px;
    width: 20%;
    text-align: center;
    background-color: rgba(92, 184, 92,0.2);


}

.vragenSchema > dl > dt > text {
    padding-left: 5%;
    font-family: roboto, sans-serif;
    color: #4e555b;
}

.vragenSchema > dl > dt:hover {
    background-color: rgba(0,0,0,0.15);
    cursor: pointer;
}

#dashboardRow {
    margin-top: 10%;
}

.container-fluid {
    margin-top: 10px;
}

.informatieSchema > h5 {
    height: 73px;
    line-height: 73px;
    width: 100%;
    text-align: center;
    background: #5cb85c;
    border-radius: 5px;
    color: white;
    margin:0;
}

.optie {
    /*margin-top: 15px;*/
    height: 70px;
    vertical-align: middle;
    text-align: center;
    width: 20%;
    border: 1px solid grey;

}



.optie h6 {
    padding-top: 9%;


    text-align: center;
}

.rowVraag {
    width: 100%;
    margin-left: 0.1%;
}

.resultVraag {
    margin-top: 4%;
}

.optie.active {
    background-color: #41a046 !important;
    cursor: pointer !important;
}

.optie:hover {
    background-color: rgba(65, 160, 70, 0.64) !important ;
    cursor: pointer !important;
}

.buttonOrange {
    color: white;
    font-size: 1.3em;
    font-weight: 550;
    background-color: #f75a00;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78829), to(#f75a00));
    background: -moz-linear-gradient(19% 75% 90deg,#f75a00, #F78829);
    height: 150%;



}
.buttonOrange:hover {
    background-color: white;
    color: grey;
}

.buttonOrange.right
 {

}


.buttonOrange.left{

}

.buttonOrange.hidden {

    display: none !important;
}

dt.procesTab.active {

    background: rgba(0,0,0,0.2);
}

.rightRowDashboard {
    border: 1px solid grey;
    border-radius: 3px;
    padding:0;
}

.rightRowDashboard span {
    display: none !important;
}

span.active {
    display: initial !important;
}



























