.container-voorpagina {
    background: linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
    ), url(../images/office-1.jpg) no-repeat center 0px;
    background-size: cover;
    height: 650px;
    width: 100%;
    margin-top: 10px;

}

#footer {
    padding: 10px;
    border-top: 1px solid black;
    color: #eeeeee;
    background-color: #211f22;
    text-align: center;
    display: block;
}

#VoorpaginaText {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 40%;
    top: 35%;
}

#buttonTop {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 10%;
    top: 95%;
    background-color: #f75a00;
    border: none;
}

#buttonTop:hover {
    background-color: white;
    color: grey;
}

* {
    padding: 0px;
    margin: 0px;
}



nav.navbar {
    padding: 0px;
    margin: 0px;
    border: none;
    height: 150px;
}

.navbar-nav a.nav-item  {

    color:black;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    padding-top: 22px;
    padding-bottom: 22px;
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    display: inline-block;
    white-space: nowrap;
}

.background {
    background-color: #f6f7f9;

}

nav.navbar #left-bar{

    min-width: 40%;
}
a.navbar-brand {
    margin-left: 20%;
}
.container {

}

img.middleRowImage {
    height: 200px;
    width: 100%;
}

#footer {
    margin-top:296px;
    border: none;
}

.buttonMiddle {
    background-color: #f75a00;
    border: none;

}

.middleTitel {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;

}

.bottomImage {
    z-index: -100;
    height: 300px;
    width: 100%;
    position: absolute;
    border: none;
    margin-top: 70px;
}

.bottomDiv {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bottomImage.jpg");
    background-repeat: no-repeat;


    /*background-image: url("../images/bottomImage.jpg");*/
    /*background-image: url("../images/bottomImage.jpg");*/
    /*background-image: url("../images/bottomImage.jpg"), linear-gradient(#eb01a5, #d13531);*/
    /*background: rgba(0, 0, 0, 0.25);*/
    /*background: linear-gradient(grey,grey);*/
    min-height: 400px;
    height: 100%;
    width: 100%;
    background-size: 100% auto;




}

.columsBottom {
    z-index: 100;
    margin-top: 0px;
}

.container-bottom {
    height: 650px;
    width: 100%;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}